<div class="center jumbotron">
  <h1>Welcome to the GCCNUS</h1>

  <h2>
    This is the home page for the
    <a href="http://www.gccnus.org">GCC</a>
    Global China Connection
  </h2>

  <%= link_to "view page now!", '#', class: "btn btn-lg btn-primary" %>
</div>
