<% provide(:title, "About") %>

<%= render 'shim' %>
<%= render 'navigation' %>
<%= render 'header' %>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2>Introduction</h2>
                <p> Founded in 2008, Global China Connection (GCC) has become the world’s largest China-focused professional youth network, with chapters at more than sixty universities across North America, Europe, and Asia, including those at world-renowned universities such as Harvard, Yale, Peking, and Tsinghua. As a student-run organization, GCC is determined to establish and maintain long-lasting personal relationships between young leaders from China and the rest of the world. Along with our geographic reach, we are able to connect thousands of students, recent-graduates, and professionals through our extensive network. There are no other organizations in the world that can boast such a large network between Chinese and international students, institutions, and companies.</p>
                <p>Global China Connection – National University of Singapore Chapter (GCC-NUS) is a non-profit student organisation for all NUS students of all nationalities looking to engage in China’s emergence as a global power. We aim to develop deep and trusting personal relationships between young leaders from China and those from the rest of the world. GCC also provides networking opportunities for academic and industrial experts to directly interact with the talented pool of NUS students.</p>
                <h4>Our Mission</h4>
                <p>To develop deep and trusting personal relationships among Chinese and non-Chinese university students.</p>
                <h4>Our Vision</h4>
                <p>To promote strong and mutually beneficial relations between China and the rest of the world through personal relationships established among prospective young leaders.</p>
                <h4>Our Objectives</h4>
                <p>As an independent, non-profit, non-political student organization, the objective of GCC-NUS is to: </p>
                <ul>
                    <li id="list-item">￼Create opportunities for international students and Chinese students to forge stronger connections with each other through learning and working together</li>
                    <li id="list-item">Lead NUS students to a greater understanding of the emerging market in China, especially its existing and potential opportunities and challenges</li>
                    <li id="list-item">Provide NUS students with learning, networking and profession developing opportunities through networking events, dialogues and seminars</li>
                    <li id="list-item">￼Promote high ethical standards among GCC members not only academically, but also professionally through lifelong fellowship and the determination to make the world a better place.</li>
                </ul>
            </div>
        </div>
    </div>

<br>

<%= render 'footer' %>
