<% provide(:title, "Contact") %>

<%= render 'shim' %>
<%= render 'navigation' %>
<%= render 'header' %>

    <!-- Main Content -->
 <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2>Talent</h2>
                <p>Dedicated to bringing together future leaders of China and the international community, GCC-NUS concentrates specifically on the most talented and motivated. As one of the best universities in Asia and in the world, NUS gathers more than 30,000 top-notch students with 30% of them from outside Singapore. Chinese students form a significant portion of the university’s international population. With our unique focus on China, GCC-NUS can effectively reach out to over 2,000 Chinese scholars in NUS, and to even more students from other nationalities who also have an interest in the opportunities in and related to China. GCC-NUS is also building its own alumni network where NUS alumni who are keen on or have business interests in China will join the students to share their knowledge and experiences. Backed by a strong and rigorous NUS community, through our special positioning and careful selection, only highly motivated and talented students will join our network. Every GCC-NUS member has the passion and potential to make a profound impact on China and even on the world in the foreseeable future.</p>
                <h2>Experience</h2>
                <p>Many GCC-NUS members have first-hand experience living, studying, or working in China. Their empirical understanding of China and their personal connections with Chinese companies and professionals have enriched our network to an even deeper and broader level. As an actual witness and practitioner in China’s development and transformation, GCC-NUS is determined to introduce an unabridged China to the world. We aim to share with our audience the most genuine and useful knowledge of China, and to connect them to real opportunities in China.</p>
                <h2>Global Outreach</h2>
                <p>As part of Global China Connection’s international network, we connect NUS to prestigious universities across the globe. With chapters at more than sixty universities across North America, Europe, and Asia, thousands of members and alumni, GCC has become the world’s largest China-focused youth network. With such a strong global outreach, GCC-NUS aims to connect NUS students with prospering youth all over the world who have the same interest in China. Over the years, GCC has established close ties with numerous professionals and experts in academia or their respective industries. It has partnered with various institutions and corporations to promote the common interest in China. Our location at NUS, Singapore also provides us with abundant opportunities to link up with companies and organizations that have a notable presence in China. With these connections GCC-NUS is well-equipped to be a bridge connecting China and the world.</p>
                <h2>Benefits to Partners and Sponsors</h2> <br>
                <h4>Investment for Future</h4>
                <p>We believe every reward in the future is seeded in the present. A relationship carefully cultivated today can generate countless benefits tomorrow. A small gesture of help and a kind impression left in the past could weigh much on impactful decision-makings in the years to come. Partnership with and sponsorship for GCC-NUS are also an investment for the future. GCC-NUS is formed of the most motivated and talented students who have the aptitude for becoming future leaders in China and the international community. Any help or support from our partners and sponsors will be largely appreciated by all GCC-NUS members, as it conveys an unforgettable message of our partners’ and sponsors’ passion for connecting China to the world, their commitment to developing the youth, their generosity, trust, and farsighted vision. Support for GCC-NUS today will be further remunerated in the future. <br><br>
                GCC-NUS hopes to bring our partners and sponsors closer to our members. All partners and sponsors will be invited to attend our major events where they get to know the students better and communicate with them in person. Such personal exchanges build up a stronger rapport between companies and students, and plant the roots for potential future cooperation. GCC-NUS has a large talent pool of both Chinese and non-Chinese students. Besides their high calibre and keen interest in China, they also possess an in-depth understanding of Chinese society, as well as a strong international perspective. This highly targeted pool of talents will become a valuable asset for both companies venturing into Chinese market and Chinese companies exploring overseas opportunities.</p>
                <h4>Venture and Expansion</h4>
                <p>GCC-NUS understands our partners’ expansion and business development plans. Striving to be a bridge between resources in China and Singapore, we will take any action within our ability to help our partners achieve their business goals. With connections established in both China and Singapore, first-hand experience and knowledge of both markets, GCC-NUS can be of great help to companies with interests either in China or Singapore. We will also be glad to connect our partners to various local stakeholders, be it in China or other countries. <br><br>
                GCC’s extensive alumni and overseas chapter network are also valuable assets for companies that hope to build a more significant global presence. Information of our partners and sponsors will be conveyed across national boundaries through communication with our counterparts all over the world. Our growing alumni network has momentous influence in China and international metropolises like Beijing, Shanghai, Boston and New York. With a specific focus in China, together with local partner organisations such as Shanghai Youth League and Chinese Business Lawyers Association, GCC has huge publicity and business development potency for companies venturing into Chinese market.</p>
                <h4>Talent</h4>
                <p>GCC-NUS members are from diverse backgrounds and disparate academic disciplines, while many of them will soon graduate from university and start their own career path. We are more than happy to help our partners organise campus networking or recruitment events to match them with the best-fitted candidates. We can provide the care-free options and help our partners manage every detail of the event, such as venue, sign-up, and schedule. By collaborating with a NUS student organization, companies can reduce their recruitment costs and minimise their efforts.</p>
                <h4>Marketing</h4>
                <p>With fresh creativity and proficient command of different designing and marketing tools, GCC-NUS continuously draws public attention and maintains a high profile. We have utilized various marketing channels to publicize ourselves, ranging from poster design, video making, to actively managing social media platforms like WeChat and Facebook. Our strong bilingual ability enables us to reach different audience groups through marketing material made in both Chinese and English. For companies that wish to establish a stronger presence among students, we can leverage on our influence among NUS students to bring those companies closer to the targeted audience. Through carefully designed marketing campaigns and publicity events, we can create a positive marketing ripple effect to help companies eventually increase awareness in the larger population. <br><br>
                For our annual flagship event, NUS China Summit, GCC-NUS will adopt a more holistic marketing approach to reach out to the larger society. We will continue our active presence on social media platforms, and deploy advertising material on both traditional and digital media. Several media partners will be engaged to provide detailed coverage of NUS China Summit to introduce our accomplishments to the whole society. Our partners and sponsors can be assured that their contribution to the event will be made known to a much larger, yet similarly focused audience group.</p>
            </div>
        </div>
    </div>

    <hr>


    <!-- internal css -->
    <style type="text/css">
        p {
            font-family: Arial;
            font-size: 16px;
            /*text-align: justify;*/
        }
    </style>

<br>

<%= render 'footer' %>